@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  width: 100%;
  user-select: none;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
#root {
  overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
