@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
